div {
  padding: 6px;
  border-radius: 15px;
}

.navBar {
  background-color: black;
  border-radius: 14px;
}

ul li {
  padding: 20px;
}

.navBar li :hover {
  padding: inherit;
  color: azure;
  text-decoration: none;
  background-color: green;
  border-radius: 14px;
  overflow: auto;
}

.check {
  text-align: left;
  line-height: 40px;
  letter-spacing: 0.1em;
}

#box1 {
  line-height: 30px
}