body .container-fluid{
background-color: black;
}

div {
  padding: 6px;
  border-radius: 15px;
}

.navBar {
  width: 100%;
  background-color: black;
  border-radius: 14px;
  position: sticky;
}

.navBar li{
  padding-right: 20px;
  padding-left: 20px;
  overflow: hidden;


}

ul li {
  padding: 20px;
  float: right;

}

.navBar li :hover {
  padding: inherit;
  color: azure;
  text-decoration: none;
  background-color: green;
  border-radius: 14px;
  overflow: hidden;
}

.check {
  color: antiquewhite;
  text-align: left;
  line-height: 40px;
  letter-spacing: 0.1em;
}

#box1 {
  border-block-color: grey;
  color: antiquewhite;
  line-height: 30px
}

.card {
  background-color: black;
  text-align: center;
  height: 40px;
}
